.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  max-width: 200px;
  box-shadow: 10px 10px 5px rgb(1, 1, 1);
  margin-bottom: 40px;
}

.nav{
  /* background-image: url("https://i.imgur.com/pZkXFGg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 80%;
  height: 250px; */
  margin-bottom: 20px;
  font-size: large;
  background-color: black;
}

.nav a{
  color: rgb(88, 232, 146);
  text-align: center;
  padding: 14px 10px;
  text-decoration-line: underline;
}

.nav a:hover{
  color: rgb(153, 247, 191);
}


button{
  background-color: blue !important;
  border: #61dafb;
  box-shadow: 5px 5px 2px rgb(1, 1, 1);
}

input{
  background-color: blue !important;
  border: #61dafb !important;
  box-shadow: 5px 5px 2px rgb(1, 1, 1);
}

textarea:focus{
  border: 1px solid #1670BE !important;
  background-color: #1d95ff;
}

h5{
  margin-bottom: 0px;
}

h3, h4, h5, h2, p{
  color: black;
}

.form-page{
  width:90vw;
  margin-left: 20px;
}

.show-page,
  img{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diveimg{
  max-width: 200px;
  border-radius: 50%;
}

body{
  background-image: url("https://i.imgur.com/5DT8xdT.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .show-page,
  img{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}